<template>
    <div class="block actions-block">
        <div class="buttons-sign buttons-action">
            <button class="btn btn-xs btn-primary pull-left"
                    v-on:click="showComment('approve')">
                <i class="fa fa-check"></i> {{$t('messages.approve')}}
            </button>
            <button class="btn btn-xs btn-danger pull-left button-reject"
                    v-on:click="showComment('reject')">
                <i class="fa fa-check"></i> {{$t('messages.reject')}}
            </button>
            <div class="comment ibox-content" v-if="isShowApproveComment">
                <text-area v-model="comment"
                           v-bind:attribute="'comment'"
                           v-bind:rows="4"
                           v-bind:required="false"></text-area>
                <button type="button"
                        v-on:click="action(signatureId)"
                        class="btn btn-xs" :class="btnClass">
                    {{btnName}}
                </button>
                <button type="button" v-on:click="showComment(type)"
                        class="btn btn-xs btn-white button-reject">
                    {{$t('messages.cancel')}}
                </button>
            </div>
        </div>
    </div>
</template>
<script>
    import TextArea from "../../../../../vue/components/TextArea";

    export default {
        props: {
            signatureId: Number
        },
        components: {
            TextArea,
        },
        data: function () {
            return {
                comment: '',
                commentTitle: this.$t('messages.comment'),
                btnClass: '',
                btnName: '',
                isShowApproveComment: false,
                type: ''
            }
        },
        methods: {
            action: function (id) {
                this.isShowApproveComment = false;
                this.$emit('actionSignature', {
                    id: id,
                    action: this.type,
                    comment: this.comment
                });
            },
            showComment: function (type) {
                this.isShowApproveComment = !this.isShowApproveComment;
                this.btnClass = type === 'approve' ? 'btn-primary' : 'btn-danger';
                this.btnName = type === 'approve' ? this.$t('messages.approve') : this.$t('messages.reject');
                this.type = type;
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        approve_signature: 'Approve signature',
                        reject_signature: 'Reject signature',
                        comment: 'Comment',
                        approve: 'Approve',
                        reject: 'Reject',
                        cancel: 'Cancel',
                    }
                },
                ru: {
                    messages: {
                        approve_signature: 'Утверждение подписи',
                        reject_signature: 'Отказ к подписи',
                        comment: 'Комментарий',
                        approve: 'Утвердить',
                        reject: 'Отказать',
                        cancel: 'Отмена',
                    }
                }
            }
        }
    }
</script>
<style>
    .actions-block {
        height: 30px;
        padding-top: 5px;
    }

    .buttons-sign {
        position: absolute;
        width: 100%;
    }

    .button-reject {
        margin-left: 5px
    }

    .comment {
        width: 90%;
        -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
    }
</style>