<template>
    <div>
        <div id="small-chat">
            <span class="badge badge-warning float-right">{{countNewComments}}</span>
            <a class="open-rule-chat" @click.prevent="setViewComments">
                <i class="fa fa-comments"></i>
            </a>
        </div>
        <div class="small-chat-box fadeInRight animated" ref="chatContent" :class="isShowChart ? 'active' : ''">

            <div class="heading" draggable="true">
                <a class="pull-right" @click.prevent="setViewComments" style="color: #fff">
                    <i class="fa fa-times"></i>
                </a>
                {{$t('messages.chat')}}
            </div>

            <div class="content rule-chart-content">
                <div :class="item.is_self_comment ? 'right' : 'left'" v-for="(item, $index) in comments" :key="$index">
                    <div class="author-name">
                        {{item.employee_name}}
                        <small class="chat-date">
                            {{createdDate(item.created)}}
                        </small>
                    </div>
                    <div class="chat-message" :class="item.is_self_comment ? '' : 'active'">
                        {{item.text}}
                    </div>
                </div>
            </div>

            <div class="form-chat">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" v-model="comment">
                    <span class="input-group-btn">
                        <button @click="addComment" class="btn btn-primary"
                                type="button">{{$t('messages.send')}}</button>
                    </span>
                </div>
            </div>

        </div>
    </div>
</template>
<script>

    import ConvertDate from "../../../../../vue/js/ConvertDate";

    export default {
        name: "comments-rule",
        props: {
            comments: Array,
            countNewComments: Number
        },
        data: function () {
            return {
                isShowChart: false,
                comment: ''
            }
        },
        methods: {
            createdDate: function (time) {
                return ConvertDate.convertDateWithTime(time);
            },
            addComment: function () {
                this.$emit('addComment', this.comment);
                this.comment = '';
            },
            deleteComment: function (commentId) {
                this.$emit('deleteComment', commentId);
            },
            setViewComments: function () {
                this.isShowChart = !this.isShowChart;
                if (this.countNewComments > 0) {
                    this.$emit('setViewComments');
                }
            }
        },
        mounted: function () {
            $('.rule-chart-content').slimScroll({
                height: '234px',
            });
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        chat: 'Chat',
                        send: 'Send',
                    }
                },
                ru: {
                    messages: {
                        chat: 'Чат',
                        send: 'Отправить',

                    }
                }
            }
        }
    }
</script>
<style>

    .small-chat-box {
        bottom: 60px;
        width: 330px;
        z-index: 1200;
    }

    .open-rule-chat {
        height: 38px;
        width: 38px;
        display: block;
        background: #1ab394;
        padding: 9px 8px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
    }

</style>