<template>
    <div style="min-height: 80px">
        <div id="dialog-edit-document"></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <input-file v-if="canDeleteFile() && files.length === 0" v-bind:modelName="'FilesModel'"
                            v-on:load="loadFile">
                    <template v-slot:button>
                        <div class="btn-group pull-right">
                            <button class="btn btn-xs btn-primary">
                                <i class="fa fa-paperclip"></i> {{$t('messages.add_files')}}
                            </button>
                            <button v-if="isShowLoader()" type="button" class="btn btn-white btn-xs">
                                {{uploadPercentage}}%
                            </button>
                        </div>
                    </template>
                </input-file>
                <h3>{{$t('messages.files')}}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th>V</th>
                        <th>{{$t('messages.name')}}</th>
                        <th v-if="canDeleteFile() || canEditFile()">#</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, $index) in files" :key="$index">
                        <td>
                            <strong style="font-size: 12px">{{item.version}}</strong>
                        </td>
                        <td>
                            <a v-bind:href="'/agreement-rules/files/download?id=' + item.id"
                               style="font-size: 14px; color: #676a6c;"
                               target="_blank">
                                <i class="fa fa-file"></i>
                                {{item.original_name}}
                            </a>
                        </td>
                        <td v-if="canDeleteFile() || canEditFile()">
                            <button v-if="canDeleteFile()" class="btn btn-xs btn-danger pull-right"
                                    v-on:click="deleteFile(item.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                            <button v-if="canEditFile()" class="btn btn-xs btn-warning pull-right"
                                    v-on:click="editFile(item.id)">
                                <i class="fa fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
    import InputFile from "../../../../../vue/components/InputFile";
    import AxiosWraper from "../../../../../vue/js/AxiosWraper";

    export default {
        name: "files-rule",
        components: {
            InputFile
        },
        props: {
            files: Array,
            statusRule: String,
            isCanApproveSign: Boolean,
            uploadPercentage: Number,
            csrfToken: String
        },
        methods: {
            loadFile: function (file) {
                this.$emit('loadFile', file);
            },
            deleteFile: function (fileId) {
                this.$emit('deleteFile', fileId)
            },
            editFile: function (fileId) {
                this.$root.setLoader(this.$refs.filesContainer);
                AxiosWraper.ajaxPost('/agreement-rules/files/get-url-edit?id=' + fileId, {
                    '_csrf': this.csrfToken
                }).then(data => {
                    let dialog = $("#dialog-edit-document");
                    dialog.append($("<iframe />").attr("src", data.response.url));
                    dialog.hide();
                    this.$root.hideLoader();
                });
            },
            canDeleteFile: function () {
                return this.statusRule === 'new';
            },
            canEditFile: function () {
                return this.statusRule !== 'new' && this.isCanApproveSign
            },
            isShowLoader: function () {
                return this.uploadPercentage > 0 && this.uploadPercentage < 100;
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        add_files: 'Add files',
                        files: 'Files',
                        name: 'File',
                    }
                },
                ru: {
                    messages: {
                        add_files: 'Добавить',
                        files: 'Файлы',
                        name: 'Фаил',
                    }
                }
            }
        }
    }
</script>
