<template>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form v-on:submit.prevent>
                    <text-input v-bind:attributeName="this.$t('messages.title')"
                                v-bind:value="ruleData.title"
                                v-on:input="changeForm"
                                :disabled="!isCanEditFields"
                                v-bind:attribute="'title'"></text-input>
                    <select-input-form v-bind:options="typesArray"
                                       v-bind:attributeName="this.$t('messages.type')"
                                       v-bind:value="ruleData.type"
                                       v-on:input="changeForm"
                                       :disabled="!isCanEditFields"
                                       v-bind:attribute="'type'"></select-input-form>
                    <select-input-form v-bind:options="bnCodes"
                                       v-bind:attributeName="this.$t('messages.bn')"
                                       v-bind:value="ruleData.bn_code"
                                       :disabled="!isCanEditFields"
                                       v-on:input="changeForm"
                                       v-bind:attribute="'bn_code'"></select-input-form>

                    <div class="input-group-sm">
                        <label class="control-label">{{ $t('messages.folder') }}</label>
                        <treeselect v-bind:value="ruleData.folder" :multiple="false" :options="folders"
                                    :disabled="!isCanEditFields"
                                    @select="changeFolder"
                                    :placeholder="''"/>
                        <div class="help-block"></div>
                    </div>
                    <auto-complete-select :disabled="!isCanEditFields"
                                          v-bind:attributeName="this.$t('messages.previous_version')"
                                          v-bind:isMultiple="false"
                                          :value="ruleData.previous_version_title"
                                          v-on:input="changeForm"
                                          v-bind:attribute="'previous_version'"
                                          v-bind:urlSearch="'/agreement-rules/rules/search-previous-agreed'">
                    </auto-complete-select>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import TextInput from "../../../../../vue/components/TextInputDebounce";
    import SelectInputForm from "../../../../../vue/components/SelectInputForm";
    import ConvertToArray from "../../../../../vue/js/ConvertToArray";
    import AutoCompleteSelect from "../../../../../vue/components/AutoCompleteSelect";
    import Treeselect from '@riophae/vue-treeselect';
    import '@riophae/vue-treeselect/dist/vue-treeselect.css';

    export default {
        name: "form-rule",
        components: {
            SelectInputForm,
            TextInput,
            Treeselect,
            AutoCompleteSelect
        },
        data() {
            return {
                sell: null,
                options: [{
                    id: 'a',
                    label: 'a',
                    children: [{
                        id: 'aa',
                        label: 'aa',
                    }, {
                        id: 'ab',
                        label: 'ab',
                    }],
                }, {
                    id: 'b',
                    label: 'b',
                }, {
                    id: 'c',
                    label: 'c',
                }],
            }
        },
        props: {
            ruleData: Object,
            types: Object,
            bnCodes: Array,
            folders: Array
        },
        computed: {
            typesArray: function () {
                return ConvertToArray.convertToArrayForSelect(this.types)
            },
            isCanEditFields: function () {
                return this.ruleData.status === 'new';
            }
        },
        methods: {
            changeForm: function (data) {
                this.$emit('input', data);
            },
            changeFolder: function (data) {
                this.$emit('input', {folder: data ? data.id : ''});
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Title',
                        type: 'Type',
                        bn: 'BN',
                        folder: 'Folder for publication',
                        previous_version: 'Previous version',
                    }
                },
                ru: {
                    messages: {
                        title: 'Заголовок',
                        type: 'Тип',
                        bn: 'БН',
                        folder: 'Папка для публикации',
                        previous_version: 'Предыдущая версия',
                    }
                }
            }
        }
    }
</script>
<style>
    .input-group-sm .vue-treeselect__control {
        height: 30px
    }

    .input-group-sm .vue-treeselect__single-value {
        line-height: 29px;
    }
</style>
