<template>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="nav nav-tabs">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#current-signatures">{{$t('messages.signatures')}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#rejects">{{$t('messages.rejects')}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active in" id="current-signatures">
                    <div class="row">
                        <div class="col-lg-12 signature-add">
                            <button v-if="isCanAddSign" class="btn btn-xs btn-primary"
                                    v-on:click="createSignatures">
                                <i class="fa fa-plus"></i> {{$t('messages.add_sign')}}
                            </button>
                        </div>
                        <div class="col-lg-12">
                            <auto-complete-select v-if="isCanAddSign"
                                             :attributeName="this.$t('messages.specialist')"
                                             :placeholder="this.$t('messages.select_employee')"
                                             :isMultiple="true"
                                             v-model="employeesForAddSignatures"
                                             :urlSearch="'/search/employees-by-role?roleCode=ARTICLE_SPECIALIST'">
                            </auto-complete-select>
                        </div>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                {{$t('messages.role')}}
                            </th>
                            <th>
                                {{$t('messages.name')}}
                            </th>
                            <th>
                                {{$t('messages.date_sign')}}
                            </th>
                            <th v-if="isCanAddSign"></th>
                        </tr>
                        </thead>
                        <draggable v-bind:value="signatures" v-on:input="reorderSignatures" tag="tbody">
                            <tr v-for="item in signatures" :class="classForRow(item)" :key="item.id">
                                <td>
                                    <i class="fa" v-bind:class="setClassSign(item.status)"></i>
                                </td>
                                <td>
                                    {{item.role_name}}
                                    <action-signature-form v-if="isCanApproveCurrentSign(item.id)"
                                                           v-bind:signatureId="item.id"
                                                           v-on:actionSignature="actionSignature"></action-signature-form>
                                </td>
                                <td>
                                    {{item.employee_name}}
                                    <span class="comment-signature" v-if="isSetComment(item.comment)"
                                          data-placement="top"
                                          :data-original-title="item.comment"
                                          data-toggle="tooltip">
                                        <i class="fa fa-comment" @mouseover="mouseOver"></i>
                                    </span>
                                </td>
                                <td>{{signedDate(item.date_signed)}}</td>
                                <td v-if="isCanAddSign">
                                    <i class="fa fa-trash buttons-action" v-on:click="deleteSign(item.id)"
                                       v-if="isCanDeleteSignature(item)"></i>
                                </td>
                            </tr>
                        </draggable>
                    </table>
                </div>
                <div class="tab-pane fade" id="rejects">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                {{$t('messages.role')}}
                            </th>
                            <th>
                                {{$t('messages.name')}}
                            </th>
                            <th>
                                {{$t('messages.date_sign')}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in rejectSignatures" :key="item.id">
                            <td>
                                <i class="fa" v-bind:class="setClassSign(item.status)"></i>
                            </td>
                            <td>
                                {{item.role_name}}
                            </td>
                            <td>
                                {{item.employee_name}}
                                <span class="comment-signature" v-if="isSetComment(item.comment)"
                                      data-placement="top"
                                      :data-original-title="item.comment"
                                      data-toggle="tooltip">
                                    <i class="fa fa-comment" @mouseover="mouseOver"></i>
                                </span>
                            </td>
                            <td>{{signedDate(item.date_signed)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import AutoCompleteSelect from "../../../../../vue/components/AutoCompleteSelect";
    import draggable from 'vuedraggable';
    import ActionSignatureForm from "./ActionSignatureForm";
    import TextArea from "../../../../../vue/components/TextArea";
    import ConvertDate from "../../../../../vue/js/ConvertDate";

    export default {
        name: "signatures-rule",
        props: {
            signatures: Array,
            rejectSignatures: Array,
            isCanApproveSign: Boolean,
            currentSignature: Object,
            csrfToken: String,
            isCanAddSign: Boolean
        },
        components: {
            TextArea,
            ActionSignatureForm,
            AutoCompleteSelect,
            draggable
        },
        data: function () {
            return {
                employeesForAddSignatures: [],
            }
        },
        methods: {
            createSignatures: function () {
                this.$emit('addSignatures', this.employeesForAddSignatures);
                this.employeesForAddSignatures = [];
            },
            deleteSign: function (signId) {
                this.$emit('deleteSignature', signId);
            },
            reorderSignatures: function (data) {
                let sortingSignatures = [];
                for (let key in data) {
                    sortingSignatures['signatures[' + key + ']'] = data[key].id;
                }
                this.$emit('sortSignatures', sortingSignatures);
            },
            actionSignature: function (data) {
                this.$emit('actionSignature', data);
            },
            signedDate: function (time) {
                return ConvertDate.convertDateWithoutTime(time);
            },
            setClassSign: function (status) {
                let classAtr = '';
                if (status === 'approve') {
                    classAtr = 'fa-check text-navy';
                }
                if (status === 'rejected') {
                    classAtr = 'fa-times text-danger';
                }

                return classAtr;
            },
            isCanApproveCurrentSign: function (currentSignId) {
                let isCanApproveCurrentSign = false;
                if (this.currentSignature) {
                    isCanApproveCurrentSign = this.currentSignature.id === currentSignId && this.isCanApproveSign;
                }
                return isCanApproveCurrentSign;
            },
            classForRow: function (item) {
                let classStr = this.isCanApproveCurrentSign(item.id) ? 'warning ' : '';
                classStr = item.status === 'rejected' ? 'danger ' : classStr;

                return item.role_code === 'ARTICLE_SPECIALIST'
                && item.status === 'active'
                && this.isCanAddSign ? classStr : classStr + 'ui-state-disabled';
            },
            isCanDeleteSignature: function (signature) {
                return this.isCanAddSign && signature.role_code === 'ARTICLE_SPECIALIST' && signature.status === 'active';
            },
            isSetComment: function (comment) {
                return comment !== '' && comment !== null;
            },
            mouseOver: function () {
                $('.comment-signature').tooltip();
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        add_sign: 'Add sign',
                        signatures: 'Signatures',
                        rejects: 'Rejects',
                        role: 'Role',
                        name: 'Name',
                        date_sign: 'Date sign',
                        status: 'Status',
                        specialist: 'Specialist',
                        select_employee: 'Select employee',
                    }
                },
                ru: {
                    messages: {
                        add_sign: 'Подпись',
                        signatures: 'Подписи',
                        rejects: 'Отказы',
                        role: 'Роль',
                        name: 'Имя',
                        date_sign: 'Дата подписи',
                        status: 'Статус',
                        specialist: 'Специалист',
                        select_employee: 'Выбирите сотрудника',
                    }
                }
            }
        }
    }
</script>
<style>
    .ui-state-disabled {
        opacity: 1;
    }

    .buttons-action {
        z-index: 5000;
        pointer-events: auto;
    }

    .comment-signature {
        pointer-events: auto;
    }

    .comment-signature > i {
        color: green;
    }

    .signature-add {
        padding: 10px 15px;
    }
</style>
