<template>
    <div class="ibox float-e-margins" ref="ruleViewContainer">
        <div class="ibox-title">
            <div v-if="isCanCreate" class="btn-group pull-right">
                <button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    {{$t('messages.functions')}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li v-if="ruleData.status === 'new'">
                        <a v-on:click.prevent="ruleAction('release')">
                            <i class="fa fa-caret-right"></i> {{$t('messages.release')}}
                        </a>
                    </li>
                    <li v-if="isCanCancel">
                        <a v-on:click.prevent="ruleAction('cancel')">
                            <i class="fa fa-minus-circle"></i> {{$t('messages.cancel')}}
                        </a>
                    </li>
                    <li v-if="isCanReRelease">
                        <a v-on:click.prevent="ruleAction('re-release')">
                            <i class="fa fa-refresh"></i> {{$t('messages.re_release')}}
                        </a>
                    </li>
                    <li v-if="isCanDelete">
                        <a v-on:click.prevent="deleteRule">
                            <i class="fa fa-trash"></i> {{$t('messages.delete')}}
                        </a>
                    </li>
                </ul>
            </div>
            <h3>
                {{ ruleData.title }}
            </h3>
        </div>
        <div class="ibox-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7" style="border-right: 1px solid #e6e6e6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <dl class="dl-horizontal">
                                <dt style="margin-bottom: 2px">{{$t('messages.status')}}:</dt>
                                <dd style="margin-bottom: 2px">
                                    <status-label v-bind:status="ruleData.status"></status-label>
                                </dd>
                                <dt>{{$t('messages.current_sign')}}:</dt>
                                <dd>
                                    <button v-if="currentSignature" class="btn btn-xs employees-for-current-sign"
                                            v-bind:class="isCanApproveSign ? 'btn-danger' : 'btn-white'"
                                            data-placement="right"
                                            v-bind:data-original-title="employeesForCurrentSignString">
                                        {{currentSignature.role_name}}
                                    </button>
                                </dd>
                                <dt>{{$t('messages.version')}}:</dt>
                                <dd>{{ruleData.version}}</dd>
                            </dl>
                        </div>
                        <div class="col-xs-12 col-sm-8 col-md-8">
                            <dl class="dl-horizontal">
                                <dt>{{$t('messages.creator')}}:</dt>
                                <dd>{{ruleData.employee_created_name}}</dd>
                                <dt>{{$t('messages.created')}}:</dt>
                                <dd>{{ruleData.date_created_str}}</dd>
                                <dt>{{$t('messages.number')}}:</dt>
                                <dd>{{ruleData.number}}</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>{{$t('messages.participants')}}:</dt>
                                <dd class="project-people mb-1">
                                    <a target="_blank" v-bind:href="'/colleagues/colleague?user=' + item.employee_code"
                                       v-for="(item) in participants">
                                        <img v-bind:alt="item.employee_name" v-bind:title="item.employee_name"
                                             class="rounded-circle"
                                             v-bind:src="item.img">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <dl class="dl-horizontal">
                                <dt>{{$t('messages.completed')}}:</dt>
                                <dd>
                                    <div class="progress progress-striped active m-b-xs">
                                        <div class="progress-bar" role="progressbar"
                                             v-bind:aria-valuenow="percentCompleted"
                                             v-bind:style="{width: percentCompleted + '%'}"
                                             aria-valuemin="0"
                                             aria-valuemax="100"><span
                                                class="sr-only">{{percentCompleted}}% {{$t('messages.completed')}}</span>
                                        </div>
                                    </div>
                                    <small>
                                        {{$t('messages.completed_text')}} <strong>{{percentCompleted}}%</strong>
                                    </small>
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <form-rule v-bind:ruleData="ruleData"
                                       v-bind:types="types"
                                       v-bind:bnCodes="bnCodes"
                                       v-bind:folders="folders"
                                       v-on:input="saveForm"></form-rule>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5">
                    <div class="row">
                        <div class="col-lg-12" ref="filesContainer">
                            <files-rule v-bind:files="files"
                                        v-bind:statusRule="ruleData.status"
                                        v-bind:csrfToken="csrfToken"
                                        v-bind:isCanApproveSign="isCanApproveSign"
                                        v-bind:uploadPercentage="uploadPercentage"
                                        v-on:loadFile="loadFile"
                                        v-on:deleteFile="deleteFile"></files-rule>
                        </div>
                        <br/>
                        <div class="col-lg-12" ref="signaturesContainer">
                            <signatures-rule v-bind:signatures="currentSignatures"
                                             v-bind:rejectSignatures="rejectSignatures"
                                             v-bind:isCanApproveSign="isCanApproveSign"
                                             v-bind:csrfToken="csrfToken"
                                             v-bind:isCanAddSign="isCanAddSign"
                                             v-on:addSignatures="addSignatures"
                                             v-on:deleteSignature="deleteSignature"
                                             v-on:sortSignatures="sortSignatures"
                                             v-on:actionSignature="actionSignature"
                                             v-bind:currentSignature="currentSignature"></signatures-rule>
                        </div>
                    </div>
                </div>
            </div>
            <chart v-bind:comments="comments"
                   v-bind:countNewComments="countNewComments"
                   v-on:addComment="addComment"
                   v-on:deleteComment="deleteComment"
                   v-on:setViewComments="setViewComments"></chart>
        </div>
    </div>
</template>

<script>
    import AxiosWraper from "../../../../../vue/js/AxiosWraper";
    import StatusLabel from "../../../../../vue/components/StatusLabel";
    import FormRule from "./FormRule";
    import FilesRule from "./Files";
    import SignaturesRule from "./Signatures";
    import Chart from "./Chart";

    export default {
        components: {
            SignaturesRule,
            FilesRule,
            StatusLabel,
            FormRule,
            Chart
        },
        data: function () {
            return {
                isCanCreate: false,
                isCanApproveSign: false,
                isCanAddSign: false,
                ruleData: {},
                bnCodes: [],
                types: {},
                folders: [],
                currentSignature: {},
                currentSignatures: [],
                rejectSignatures: [],
                comments: [],
                files: [],
                countNewComments: 0,
                employeesForCurrentSign: {},
                participants: {},
                csrfToken: '',
                uploadPercentage: 0
            }
        },
        computed: {
            employeesForCurrentSignString: function () {
                let str = '';
                for (let key in this.employeesForCurrentSign) {
                    str += this.employeesForCurrentSign[key].employee_name + ', '
                }
                $('.employees-for-current-sign').tooltip();
                return str;
            },
            percentCompleted: function () {
                let percentCompleted = 0;
                if (this.currentSignatures.length > 0) {
                    if (this.currentSignature) {
                        percentCompleted = Math.round((this.currentSignature.priority - 1)
                            * 100 / this.currentSignatures.length);
                    } else {
                        percentCompleted = 100
                    }
                }

                return percentCompleted;
            },
            isCanCancel: function () {
                return this.ruleData.status === 'applicant_ok'
                    || this.ruleData.status === 'specialist_ok'
                    || this.ruleData.status === 'new';
            },
            isCanReRelease: function () {
                return this.ruleData.status === 'rejected'
                    || this.ruleData.status === 'canceled';
            },
            isCanDelete: function () {
                return this.ruleData.status === 'new' && this.ruleData.version === 1;
            }
        },
        methods: {
            saveForm: function (data) {
                let ruleId = this.$root.urlParams.id;
                data['_csrf'] = this.csrfToken;
                AxiosWraper.ajaxPost('/agreement-rules/rules/update?id=' + ruleId, data).then(data => {
                    this.ruleData = data.response.ruleData;
                });
            },
            loadFile: function (file) {
                this.$root.setLoader(this.$refs.filesContainer);
                let ruleId = this.$root.urlParams.id,
                    data = [];
                data['_csrf'] = this.csrfToken;
                data['FilesModel'] = file[0];
                AxiosWraper.ajaxPost('/agreement-rules/files/add?ruleId=' + ruleId, data, {
                    headers: {'Content-Type': 'multipart/form-data'},
                    onUploadProgress: progressEvent => this.setUploadPercentage(progressEvent),
                }).then(data => {
                    this.files = data.response.files;
                    this.$root.hideLoader();
                });
            },
            deleteFile: function (fileId) {
                this.$root.setLoader(this.$refs.filesContainer);
                AxiosWraper.ajaxPost('/agreement-rules/files/delete?id=' + fileId, {
                    '_csrf': this.csrfToken
                }).then(data => {
                    this.files = data.response.files;
                    this.$root.hideLoader();
                });
            },
            addSignatures: function (data) {
                this.$root.setLoader(this.$refs.signaturesContainer);
                let ruleId = this.$root.urlParams.id,
                    employees = [];
                employees['_csrf'] = this.csrfToken;
                for (let key in data) {
                    employees['employees[' + key + ']'] = data[key].id;
                }
                AxiosWraper.ajaxPost('/agreement-rules/signatures/add-specialists?ruleId=' + ruleId, employees, {
                    headers: {'Content-Type': 'multipart/form-data'}
                }).then(data => {
                    this.setDataAfterSignAction(data);
                    this.$root.hideLoader();
                });
            },
            deleteSignature: function (signId) {
                this.$root.setLoader(this.$refs.signaturesContainer);
                AxiosWraper.ajaxPost('/agreement-rules/signatures/delete?id=' + signId, {
                    '_csrf': this.csrfToken
                })
                    .then(data => {
                        this.setDataAfterSignAction(data);
                        this.$root.hideLoader();
                    });
            },
            sortSignatures: function (signatures) {
                this.$root.setLoader(this.$refs.signaturesContainer);
                let ruleId = this.$root.urlParams.id;
                signatures['_csrf'] = this.csrfToken;
                AxiosWraper.ajaxPost('/agreement-rules/signatures/sort?ruleId=' + ruleId, signatures)
                    .then(data => {
                        this.setDataAfterSignAction(data);
                        this.$root.hideLoader();
                    });
            },
            actionSignature: function (data) {
                this.$root.setLoader(this.$refs.signaturesContainer);
                data['_csrf'] = this.csrfToken;
                AxiosWraper.ajaxPost('/agreement-rules/signatures/' + data.action + '?id=' + data.id, data)
                    .then(data => {
                        this.setDataAfterSignAction(data);
                        this.$root.hideLoader();
                    });
            },
            setUploadPercentage: function (progressEvent) {
                this.uploadPercentage = parseInt(Math.round((progressEvent.loaded / progressEvent.total) * 100));
            },
            ruleAction: function (action) {
                this.$root.setLoader(this.$refs.ruleViewContainer);
                let ruleId = this.$root.urlParams.id;
                AxiosWraper.ajaxPost('/agreement-rules/rules/' + action + '?id=' + ruleId, {
                    '_csrf': this.csrfToken
                }).then(data => {
                    this.setDataAfterSignAction(data);
                    this.$root.hideLoader();
                });
            },
            deleteRule: function () {
                this.$root.setLoader(this.$refs.ruleViewContainer);
                let ruleId = this.$root.urlParams.id;
                AxiosWraper.ajaxPost('/agreement-rules/rules/delete?id=' + ruleId, {
                    '_csrf': this.csrfToken
                }).then(data => {
                    this.$root.hideLoader();
                    let href = '/rules';
                    this.$root.currentRoute = href;
                    window.history.pushState(
                        null,
                        'Agreement rules',
                        href
                    )
                });
            },
            addComment: function (comment) {
                this.$root.setLoader(this.$refs.chatContent);
                let ruleId = this.$root.urlParams.id;
                AxiosWraper.ajaxPost('/agreement-rules/comments/add?ruleId=' + ruleId, {
                    '_csrf': this.csrfToken,
                    'comment': comment
                }).then(data => {
                    this.comments = data.response.comments;
                    this.$root.hideLoader();
                });
            },
            deleteComment: function (commentId) {
                this.$root.setLoader(this.$refs.chatContent);
                AxiosWraper.ajaxPost('/agreement-rules/comments/delete?id=' + commentId, {
                    '_csrf': this.csrfToken,
                }).then(data => {
                    this.comments = data.response.comments;
                    this.$root.hideLoader();
                });
            },
            setViewComments: function () {
                let ruleId = this.$root.urlParams.id;
                AxiosWraper.ajaxPost('/agreement-rules/comments/set-view-comments?ruleId=' + ruleId, {
                    '_csrf': this.csrfToken
                }).then(data => {
                    this.countNewComments = 0;
                });
            },
            setDataAfterSignAction: function (data) {
                this.isCanCreate = data.response.isCanCreate;
                this.isCanApproveSign = data.response.isCanApproveSign;
                this.isCanAddSign = data.response.isCanAddSign;
                this.currentSignatures = data.response.currentSignatures;
                this.rejectSignatures = data.response.rejectSignatures;
                this.currentSignature = data.response.currentSignature;
                this.ruleData = data.response.ruleData;
                this.participants = data.response.participants;
                this.employeesForCurrentSign = data.response.employeesForCurrentSign;
            },
        },
        beforeMount() {
            let ruleId = this.$root.urlParams.id;
            this.$root.setLoader(this.$refs.ruleViewContainer);
            AxiosWraper.ajax('/agreement-rules/rules/load-data-view?id=' + ruleId, this.$root.urlParams).then(data => {
                this.isCanCreate = data.response.isCanCreate;
                this.isCanApproveSign = data.response.isCanApproveSign;
                this.isCanAddSign = data.response.isCanAddSign;
                this.ruleData = data.response.ruleData;
                this.bnCodes = data.response.bnCodes;
                this.types = data.response.types;
                this.folders = data.response.folders;
                this.currentSignature = data.response.currentSignature;
                this.currentSignatures = data.response.currentSignatures;
                this.rejectSignatures = data.response.rejectSignatures;
                this.comments = data.response.comments;
                this.files = data.response.files;
                this.countNewComments = data.response.countNewComments;
                this.employeesForCurrentSign = data.response.employeesForCurrentSign;
                this.participants = data.response.participants;
                this.csrfToken = data.csrfToken;
                this.$root.hideLoader();
            });
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Agreement rules',
                        status: 'Status',
                        current_sign: 'Current sign',
                        version: 'Version',
                        creator: 'Creator',
                        created: 'Created',
                        participants: 'Participants',
                        completed: 'Completed',
                        completed_text: 'The agreement was made for',
                        functions: 'Functions',
                        release: 'Release',
                        cancel: 'Cancel',
                        delete: 'Delete',
                        re_release: 'Re release',
                        number: 'Number',
                    }
                },
                ru: {
                    messages: {
                        title: 'Согласование инструкций',
                        status: 'Статус',
                        current_sign: 'Текущая подпись',
                        version: 'Версия',
                        creator: 'Создатель',
                        created: 'Создано',
                        participants: 'Участники',
                        completed: 'Завершено',
                        completed_text: 'Заявка выполнена на',
                        functions: 'Функции',
                        release: 'Выпустить',
                        cancel: 'Отменить',
                        delete: 'Удалить',
                        re_release: 'Перевыпустить',
                        number: 'Номер',
                    }
                }
            }
        }
    }
</script>
<style>
    .tooltip-inner {
        width: 200px;
    }
</style>
