<template>
    <div class="ibox float-e-margins" ref="rulesList">
        <div class="ibox-title">
            <div v-if="isCanCreate" class="pull-right" style="margin-left: 5px">
                <modal
                        id="agreement-rules-create-modal"
                        v-bind:title="this.$t('messages.addRule')"
                        v-bind:button="buttonModalCreate">
                    <template v-slot:body>
                        <create-rule v-bind:token="token"></create-rule>
                    </template>
                </modal>
            </div>
            <div class="pull-right">
                <modal
                        id="agreement-rules-filter-modal"
                        v-bind:title="this.$t('messages.search')"
                        v-bind:button="buttonModalSearch">
                    <template v-slot:body>
                        <filter-agreement-rules :filterSignatures="filterSignatures"
                                                v-on:search="searchAgreementRules"></filter-agreement-rules>
                    </template>
                </modal>
            </div>
            <h3>
                {{ $t("messages.title") }}
            </h3>
            <div class="row">
                <div class="col-xs-12 col-sm-12">
                    <filters-list v-bind:filters="activeFilters" v-on:deleteFilter="deleteFilter"></filters-list>
                    <tags v-bind:tags="tags" v-on:setFilterTag="setTag"></tags>
                </div>
            </div>
        </div>
        <div class="ibox-content table-responsive">
            <table-list v-bind:agreementRules="agreementRules"
                        v-bind:employeeCode="employeeCode"
                        v-bind:countToSign="countToSign"
                        v-bind:getParams="getParams"
                        v-on:search="searchAgreementRules"
                        v-on:loadAgreementRules="loadAgreementRules"></table-list>
        </div>
    </div>
</template>

<script>
    import TableList from './Table';
    import FilterAgreementRules from './Filter';
    import Modal from "../../../../../vue/components/Modal";
    import AxiosWraper from "../../../../../vue/js/AxiosWraper";
    import FiltersList from "../../../../../vue/components/FiltersList";
    import Tags from "../../../../../vue/components/Tags";
    import CreateRule from "./CreateForm";
    import ConvertToArray from "../../../../../vue/js/ConvertToArray";

    export default {
        components: {
            CreateRule,
            Tags,
            FiltersList,
            Modal,
            FilterAgreementRules,
            TableList
        },
        data: function () {
            return {
                isCanCreate: false,
                getParams: {},
                activeFilters: {},
                tags: {},
                agreementRules: [],
                page: 0,
                token: '',
                countToSign: 0,
                employeeCode: '',
                filterSignatures: [],
                buttonModalSearch: {
                    content: "<i class='fa fa-search'></i> " + this.$t('messages.search'),
                    attr_class: 'btn-white'
                },
                buttonModalCreate: {
                    content: "<i class='fa fa-plus'></i> " + this.$t('messages.add'),
                    attr_class: 'btn-primary'
                }
            }
        },
        methods: {
            searchAgreementRules: function (getParams) {
                this.getParams = getParams;
                this.agreementRules = [];
                this.page = 0;
                this.loadAgreementRules();
            },
            loadAgreementRules: function (state) {
                this.getParams['page'] = this.page;
                this.$root.setLoader(this.$refs.tableRulesList);
                AxiosWraper.ajax('/agreement-rules/rules/agreement-rules', this.getParams).then(data => {
                    this.activeFilters = data.response.activeFilters;
                    if (data.response.rules.length) {
                        this.page += 1;
                        this.agreementRules.push(...data.response.rules);
                        state ? state.completeLoading() : '';
                    } else {
                        state ? state.noMoreResults() : '';
                    }
                    $('.employees-for-current-sign').tooltip();
                    this.$root.hideLoader();
                });
            },
            deleteFilter: function (filterName) {
                this.activeFilters[filterName]['value'] = '';
                this.getParams[filterName] = '';
                this.agreementRules = [];
                this.page = 0;
                this.loadAgreementRules();
            },
            setTag: function (tag) {
                this.$root.setLoader(this.$refs.rulesList);
                AxiosWraper.ajax('/agreement-rules/rules/set-tag', {tag: tag}).then(data => {
                    this.agreementRules = [];
                    this.page = 1;
                    this.tags = data.response.tags;
                    this.agreementRules.push(...data.response.rules);
                    this.$root.hideLoader();
                });
            }
        },
        beforeMount() {
            this.$root.setLoader(this.$refs.rulesList);
            AxiosWraper.ajax('/agreement-rules/rules/load-initial-data', {'page': this.page}).then(data => {
                this.isCanCreate = data.response.isCanCreate;
                this.activeFilters = data.response.activeFilters;
                this.tags = data.response.tags;
                this.filterSignatures = ConvertToArray.convertToArrayForSelect(data.response.filterSignatures);
                this.token = data.csrfToken;
                this.countToSign = data.response.countToSign;
                this.employeeCode = data.response.employeeCode;
                this.agreementRules.push(...data.response.rules);
                this.$root.hideLoader();
                this.page += 1;
            });
        },
        updated() {
            $('.employees-for-current-sign').tooltip();
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Agreement rules',
                        search: 'Search',
                        status: 'Status',
                        addRule: 'Adding rule',
                        add: 'Add',
                    }
                },
                ru: {
                    messages: {
                        title: 'Согласование инструкций',
                        search: 'Поиск',
                        status: 'Статус',
                        addRule: 'Добавление инструкции',
                        add: 'Добавить',
                    }
                }
            }
        }
    }
</script>
