<template>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form v-on:submit.prevent>
                    <text-input v-bind:attributeName="this.$t('messages.title')"
                                v-model="title"
                                v-bind:attribute="'title'"
                                v-bind:required="true"></text-input>
                    <button type="button"
                            v-on:click="createRule"
                            class="btn btn-sm btn-primary">
                        <i class="fa fa-plus"></i> {{ $t("messages.create") }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import TextInput from "../../../../../vue/components/TextInput";
    import AxiosWraper from "../../../../../vue/js/AxiosWraper";

    export default {
        name: "create-rule",
        components: {
            TextInput
        },
        props: {
            token: String
        },
        data: function () {
            return {
                title: ''
            }
        },
        methods: {
            createRule: function () {
                AxiosWraper.ajaxPost('/agreement-rules/rules/create-instruction', {
                    title: this.title,
                    _csrf: this.token
                }).then(data => {
                    $('#agreement-rules-create-modal').modal('hide');
                    let href = '/rules/view/' + data.response.ruleData.id;
                    this.$root.currentRoute = href;
                    window.history.pushState(
                        null,
                        'View agreement rule',
                        href
                    )
                });
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Title',
                        create: 'Create',
                        error_empty_title: 'You must input title',
                    }
                },
                ru: {
                    messages: {
                        title: 'Заголовок',
                        create: 'Создать',
                        error_empty_title: 'Вы должны ввести название',
                    }
                }
            }
        }
    }
</script>
