<template>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <form v-on:submit.prevent>
                    <div class="input-group-sm">
                        <label class="control-label">{{ $t("messages.title") }}</label>
                        <input type="text" v-model="getParams.filterTitle" name="filterTitle"
                               class="form-control">
                        <div class="help-block"></div>
                    </div>
                    <auto-complete-select v-bind:attributeName="this.$t('messages.employee_created')"
                                     v-model="employee"
                                          :placeholder="this.$t('messages.select_employee')"
                                     v-bind:urlSearch="'/search/all-employees-vue'"></auto-complete-select>
                    <select-input-form v-bind:options="filterSignatures"
                                       v-bind:attributeName="this.$t('messages.current_signatures')"
                                       v-model="getParams.filterSignature"></select-input-form>
                    <h4>{{ $t("messages.created") }}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group-sm">
                                <label>{{ $t("messages.filterDateStartCreated") }}</label>
                                <masked-input
                                        type="text"
                                        name="filterDateStartCreated"
                                        class="form-control"
                                        v-model="getParams.filterDateStartCreated"
                                        :mask="dateMask"
                                        :guide="false"
                                        placeholderChar="#">
                                </masked-input>
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group-sm">
                                <label>{{ $t("messages.filterDateEndCreated") }}</label>
                                <masked-input
                                        type="text"
                                        name="filterDateEndCreated"
                                        class="form-control"
                                        v-model="getParams.filterDateEndCreated"
                                        :mask="dateMask"
                                        :guide="false"
                                        placeholderChar="#">
                                </masked-input>
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <h4>{{ $t("messages.date_publication") }}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group-sm">
                                <label>{{ $t("messages.filterDateStartPublication") }}</label>
                                <masked-input
                                        type="text"
                                        name="filterDateStartPublication"
                                        class="form-control"
                                        v-model="getParams.filterDateStartPublication"
                                        :mask="dateMask"
                                        :guide="false"
                                        placeholderChar="#">
                                </masked-input>
                                <div class="help-block"></div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="input-group-sm">
                                <label>{{ $t("messages.filterDateEndPublication") }}</label>
                                <masked-input
                                        type="text"
                                        name="filterDateEndPublication"
                                        class="form-control"
                                        v-model="getParams.filterDateEndPublication"
                                        :mask="dateMask"
                                        :guide="false"
                                        placeholderChar="#">
                                </masked-input>
                                <div class="help-block"></div>
                            </div>
                        </div>
                    </div>
                    <p>
                        <button data-target="#agreement-rules-filter-modal" type="button"
                                v-on:click="$emit('search', getParams)" data-toggle="modal"
                                class="btn btn-sm btn-primary">
                            <i class="fa fa-search"></i> {{ $t("messages.search") }}
                        </button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    import MaskedInput from 'vue-text-mask'
    import AutoCompleteSelect from "../../../../../vue/components/AutoCompleteSelect";
    import SelectInputForm from "../../../../../vue/components/SelectInputForm";

    export default {
        name: "list-filter",
        components: {
            AutoCompleteSelect,
            MaskedInput,
            vSelect,
            SelectInputForm
        },
        props: {
            filterSignatures: Array
        },
        data: function () {
            return {
                getParams: {
                    filterTitle: '',
                    filterEmployeeCreated: '',
                    filterDateStartCreated: '',
                    filterDateEndCreated: '',
                    filterDateStartPublication: '',
                    filterDateEndPublication: '',
                },
                employee: [],
                dateMask: [/\d/, /\d/, '-', /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]
            }
        },
        watch: {
            employee: function (newVal, oldVal) {
                if (typeof newVal.id !== 'undefined') {
                    this.getParams.filterEmployeeCreated = newVal.id;
                }
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Title',
                        employee_created: 'Employee created',
                        created: 'Date created',
                        filterDateStartCreated: 'Start',
                        filterDateEndCreated: 'End',
                        date_publication: 'Date Publication',
                        filterDateStartPublication: 'Start',
                        filterDateEndPublication: 'End',
                        search: 'Search',
                        current_signatures: 'Current signature',
                        select_employee: 'Select employee',
                    }
                },
                ru: {
                    messages: {
                        title: 'Заголовок',
                        employee_created: 'Создатель',
                        created: 'Дата создания',
                        filterDateStartCreated: 'Начало',
                        filterDateEndCreated: 'Окончание',
                        date_publication: 'Дата публикации',
                        filterDateStartPublication: 'Начало',
                        filterDateEndPublication: 'Окончание',
                        search: 'Поиск',
                        current_signatures: 'Текущая подпись',
                        select_employee: 'Выбирете сотрудника',
                    }
                }
            }
        }
    }
</script>
