<template>
    <div>
        <button class="btn btn-xs" :class="setButtonClassToSign()" v-on:click="selectToSignRules()">
            {{ $t("messages.to_sign") }} - {{countToSign}}
        </button>
        <table id="rules-list-table" class="table table-hover" ref="tableRulesList">
            <thead>
            <tr>
                <th>№</th>
                <th>{{ $t("messages.title") }}</th>
                <th>{{ $t("messages.employee_created") }}</th>
                <th>{{ $t("messages.bn_name") }}</th>
                <th>{{ $t("messages.current_signature") }}</th>
                <th>{{ $t("messages.status") }}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, $index) in agreementRules" :key="$index">
                <td>
                    <v-link v-bind:href="'/rules/view/' + item.id">{{item.number}}</v-link>
                </td>
                <td>
                    <v-link v-bind:href="'/rules/view/' + item.id">{{item.title}}</v-link>
                </td>
                <td>{{item.employee_created_name}}</td>
                <td>
                    <v-link v-bind:href="'/rules/view/' + item.id">{{item.bn_name}}</v-link>
                </td>
                <td>
                    <button v-if="item.currentSignature" class="btn btn-xs employees-for-current-sign"
                            :class="setButtonClass(item)"
                            data-placement="right"
                            v-bind:data-original-title="employeesForCurrentSignatureStr(item.employeesForCurrentSignature)">
                        {{item.currentSignature.role_name}}
                    </button>
                </td>
                <td>
                    <status-label v-bind:status="item.status"></status-label>
                </td>
            </tr>
            </tbody>
        </table>
        <infinity-scroll @handlerScroll="handlerInfinityScroll"
                         :elementScrollId="'rules-list-table'"
                         :data="agreementRules"
                         :offset="100"
                         :limitData="30"></infinity-scroll>
    </div>
</template>

<script>
    import StatusLabel from "../../../../../vue/components/StatusLabel";
    import VLink from "../../../../../vue/components/VLink";
    import InfinityScroll from "../../../../../vue/components/InfinityScroll";

    export default {
        name: "table-agreement-rules",
        components: {
            VLink,
            StatusLabel,
            InfinityScroll
        },
        props: {
            agreementRules: Array,
            employeeCode: String,
            countToSign: Number,
            getParams: Object
        },
        methods: {
            handlerInfinityScroll(state) {
                this.$emit('loadAgreementRules', state);
            },
            showRule(ruleId) {
                history.pushState(null, null, '/rules/view?id=' + ruleId);
            },
            setButtonClass: function (item) {
                let classBtn = 'btn-white ';
                if (item.employeesForCurrentSignature[this.employeeCode]) {
                    classBtn = 'btn-danger ';
                } else {
                    if (item.employeesForCurrentSignature.length > 0
                        && item.employeesForCurrentSignature[0].employee_code === this.employeeCode) {
                        classBtn = 'btn-danger ';
                    }
                }

                return classBtn;
            },
            setButtonClassToSign: function () {
                return this.countToSign === 0 ? 'btn-white ' : 'btn-danger ';
            },
            employeesForCurrentSignatureStr: function (employees) {
                let str = '';
                for (let key in employees) {
                    str += employees[key].employee_name + ', '
                }

                return str;
            },
            selectToSignRules: function () {
                let params = this.getParams;
                params['filterToSign'] = true;
                this.$emit('search', params);
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        title: 'Title',
                        employee_created: 'Employee created',
                        status: 'Status',
                        noMore: 'No more results',
                        noResults: 'Data not found',
                        current_signature: 'Current signature',
                        to_sign: 'To sign',
                        bn_name: 'Bn',
                    }
                },
                ru: {
                    messages: {
                        title: 'Заголовок',
                        employee_created: 'Создатель',
                        status: 'Статус',
                        noMore: 'Больше нет данных',
                        noResults: 'Данные не найдены',
                        current_signature: 'Текущая подпись',
                        to_sign: 'На подпись',
                        bn_name: 'Бн',
                    }
                }
            }
        }
    }
</script>
