.c-menu {
    z-index: 200;
    background-color: #333;
    transition: transform 0.3s;
}

.c-menu__close {
    z-index: 1300;
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    color: #8095a8;
}

.c-button {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;

}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
    overflow: hidden;
}

.c-mask {
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #223545;
    opacity: 0;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#c-menu--slide-left{
    background: #2f4050;
}
.c-menu__items{
    background: #2f4050;
}

.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

@media all and (min-width: 320px) {
    .c-menu--slide-left,
    .c-menu--slide-right,
    .c-menu--push-left,
    .c-menu--push-right {
        width: 300px;
    }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item {
    display: block;
    /*text-align: left;*/

}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child {
    border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child {
    border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    padding: 4px 24px;
    color: #fff;
}

.c-menu__link:hover {
    color: #c8d100;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close {
    display: block;
    padding: 10px 10px;
    clear: both;
    width: 30px;
    float: right;
}

.c-menu--slide-left,
.c-menu--push-left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

@media all and (min-width: 320px) {
    .c-menu--slide-left,
    .c-menu--push-left {
        transform: translateX(-300px);
    }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active {
    transform: translateX(0);
}

.c-menu--slide-right,
.c-menu--push-right {
    top: 0;
    right: 0;
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .c-menu--slide-right,
    .c-menu--push-right {
        transform: translateX(300px);
    }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active {
    transform: translateX(0);
}

.o-wrapper.has-push-left {
    transform: translateX(100%);
}

@media all and (min-width: 320px) {
    .o-wrapper.has-push-left {
        transform: translateX(300px);
    }
}

.o-wrapper.has-push-right {
    transform: translateX(-100%);
}

@media all and (min-width: 320px) {
    .o-wrapper.has-push-right {
        transform: translateX(-300px);
    }
}

@media (min-width: 768px) {
    .c-button{
        display: none;
    }
    .c-menu__close{
        display: none;
    }

    .is-active{
        display: block;
    }
}