.top-toggle-filters .toggle-filter {
    /*color: #434a54;*/
    font-weight: bold;
    min-height: 39px;
    margin-right: 20px;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
}
.top-toggle-filters .toggle-filter .ico {
    cursor: pointer;
    padding: 3px;
    margin-left: 7px;
}
.top-toggle-filters .collapse-ico-dark {
    display: none;
}

.top-toggle-filters .toggle-filter.active .collapse-ico-dark {
    display: inline-block;
}
.top-toggle-filters .toggle-filter.active .expand-ico-dark {
    display: none;
}
.top-toggle-filters .toggle-filter.active .minimize-ico-dark{
    display: none;
}
.top-toggle-filters .slide-filter {
    display: none;
}
.top-toggle-filters .form-group  input[type="text"], .top-toggle-filters .form-group .form-control {
    color: #a9b1bc;
    border-radius: 2px ;
    -moz-border-radius: 2px ;
    -webkit-border-radius: 2px ;
    -o-border-radius: 2px ;
    background: #f5f6fa;

}
.top-toggle-filters .form-group  select {
    color: #a9b1bc;
    border-color: #d1d4d8;
    background: #f5f6fa;
}
.top-toggle-filters .form-group .help-block {
    margin: 2px 0 2px;
}

.top-toggle-filters .toggle-filter-new  {
    width: 80px;
    margin: 0px;
    margin-right: -80px;
}