/* Please Enter custom css here */

/*.table-hover tr:hover{background: #e4ffe0 !important;}*/
html, body {
    font-size: 13px;
}

a {
    font-size: 14px;
    color: #23527c;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #337ab7;
    text-decoration: none;
}

.logo {
    padding: 0;
}

.logo:link {
    background: none;
    padding: 0;
    display: inline;
}

.logo:hover {
    background: none;
    padding: 0;
    display: inline;
}

.fa-male {
    color: #1e7ecd !important;
    border-color: #1e7ecd !important;
}

.fa-female {
    color: #cd0d8a !important;
    border-color: #cd0d8a !important;
}

.mjr {
    margin-bottom: 15px;
    width: 120px;
    opacity: 0.7;
}

.font14 {
    font-size: 14px;
}

.font15 {
    font-size: 15px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.reset-filter {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.tooltip {
    z-index: 99999 !important;
}

.comment-box {
    z-index: 99999999;
    position: absolute;
    background: #fff;
    box-shadow: 1px 1px 1px #ccc
}

.nav-header {
    background-color: #223545;
}

.pager-active a:link, .pager-active a:visited,
.pager-active a:focus, .pager-active a:hover {
    background: #223545;
    color: #DFE4ED;
}

.inline-list > li {
    display: inline
}

.table-hover tr:hover {
    /*background: #e4ffe0 !important;*/
    background: #eeeeee !important;
    cursor: pointer;
}

.no-avatar-md {
    cursor: pointer;
    color: #DFE4ED;
    border: 2px solid #DFE4ED;
}

.no-avatar-sm {
    cursor: pointer;
    color: #828282;
    border: 2px solid #828282;
}

.no-avatar-lg {
    cursor: pointer;
    color: #b2b2b2;
    border: 2px solid #b2b2b2;
}

.rounded-circle {
    border-radius: 50% !important;
}

.link-white, .link-white:visited, .link-white:link {
    color: white;
}

.link-white:hover {
    color: #e2e2e2;
}

.box-shadow:hover {
    box-shadow: 1px 1px 1px #b2b2b2;
}

.box-shadow > a:hover {
    color: #676a6c;
}

.border-right-hidden {
    border-left: none;
    border-right: 1px solid #e7eaec;
    border-top: none;
    border-bottom: none;
}

.agile-single {
    background: #FAFAFB;
    border: 1px solid #e7eaec;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 2px;
}

.btn-orange.btn-outline {
    color: orangered;
}

.btn-orange.btn-outline:hover,
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-orange {
    background-color: orangered !important;
    border-color: orangered !important;
    color: #FFFFFF !important;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange,
.btn-orange:active:focus,
.btn-orange:active:hover,
.btn-orange.active:hover,
.btn-orange.active:focus {
    background-color: #d64100;
    border-color: #d64100;
    color: #FFFFFF;
}

.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
    background-image: none;
}

.btn-orange.disabled,
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled],
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange.active[disabled],
fieldset[disabled] .btn-orange,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
    background-color: orangered;
    border-color: orangered;
}

.b-l-danger {
    border-left: 3px solid #ed5565;
}

.b-l-warning {
    border-left: 3px solid #f8ac59;
}

.b-l-success {
    border-left: 3px solid #1ab394;
}

.b-l-info {
    border-left: 3px solid #1c84c6;
}

.text-success-dark {
    color: #23527c;
}

.links-primary-dark a:link, .links-primary-dark a:visited {
    color: #23527c;
}

.links-primary-dark a:hover {
    color: #337ab7;
}

.links-danger a:link, .links-danger a:visited {
    color: #ed5565;
}

.links-danger a:hover {
    color: #ec4758;
}

.links-warning a:link, .links-warning a:visited {
    color: #f8ac59;
}

.links-warning a:hover {
    color: #f7a54a;
}

.links-success a:link, .links-success a:visited, .links-navy a:link, .links-navy a:visited {
    color: #1ab394;
}

.links-success a:hover {
    color: #1dc5a3;
}

.links-info a:link, .links-info a:visited {
    color: #1c84c6;
}

.links-info a:hover {
    color: #1f90d8;
}

.links-muted a:link, .links-muted a:visited {
    color: #676a6c;
}

.links-muted a:hover {
    color: #8d9092;
}

.p-t-xxs {
    padding-top: 5px;
}

.p-t-xs {
    padding-top: 10px;
}

.p-t-sm {
    padding-top: 15px;
}

.p-t-m {
    padding-top: 20px;
}

.p-t-md {
    padding-top: 25px;
}

.p-t-lg {
    padding-top: 30px;
}

.p-t-xl {
    padding-top: 40px;
}

.fa-6x {
    font-size: 6em;
}

.fa-7x {
    font-size: 7em;
}

.fa-8x {
    font-size: 8em;
}

.fa-9x {
    font-size: 9em;
}

.fa-10x {
    font-size: 10em;
}

.border-top-bottom {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
}

.breadcrumb > :last-child {
    font-weight: bold;
}

.btn-default {
    color: #333;
}

.dl-horizontal-brd {
    border-bottom: 1px #e7eaec solid;
    margin: 10px 0;
    height: 1px;
}

.ibox-title p {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.fa-info-circle, .fa-question-circle {
    font-size: 15px;
    cursor: pointer;
}

.list-collapse {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    line-height: 21px;
}

.list-line-height > li {
    margin: 5px 0;
}

.line-height18 {
    line-height: 20px;
}

.line-height20 {
    line-height: 20px;
}

.line-height22 {
    line-height: 22px;
}

.line-height24 {
    line-height: 24px;
}

.line-height26 {
    line-height: 26px;
}

.list-line-height > li,
.list-line-height > dt,
.list-line-height > dd {
    line-height: 24px;
}

.list-inline li {
    display: inline;
    line-height: 20px;
}

.list-inline-no-padding > li {
    padding-left: 0;
    padding-right: 0;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 600px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.ibox-tools > a.btn {
    color: #fff;
}

.table-responsive-help-sm, .table-responsive-help-md {
    display: none;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-overflow {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;
}

.docs-list > li {
    overflow: hidden;
    padding: 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.docs-list > li a:link, .docs-list > li a:visited {
    color: #6b6b6b;
}

.docs-list > li a:hover {
    color: #444;
}

.border-none {
    border: none;
}

.vv-support {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.select2-container .select2-search-field, .select2-search__field,
.select2-container .select2-input > input {
    width: 100% !important
}

label {
    color: #828282;
    font-weight: normal;
}

textarea {
    width: 100%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #e5e6e7;
    background: #FFFFFF;
    padding: 5px;
}

textarea {
    padding: 5px;
}

@media (max-width: 990px) {
    .folder-content {
        padding-top: 20px;
    }

    .folders {
        border-right: none !important;
        border-bottom: 1px dashed #c3c6c8;
    }

    .border-right-hidden {
        border: none;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 20px;
    }

    .display-none {
        display: none;
    }
}

@media (max-width: 380px) {
    body, html {
        display: block;
        overflow-x: scroll;
    }
}

@media (max-width: 380px) {
    body, html {
        display: block;
        overflow-x: scroll;
    }

    .ibox-tools {
        float: none;
        text-align: right;
        display: block;
    }

    .table-responsive-help-sm {
        display: block;
        font-size: 12px;
        color: #9c9c9cfa;
    }

    .table-responsive {

    }
}

.custom-employee-image {
    width: 3rem;
    height: 3rem;
    margin: 2px;
    vertical-align: bottom;
}

.progress-bar-blue > .progress-bar {
    background-color: #007bff;
}

.progress-bar-orange > .progress-bar {
    background-color: #f8ac59;
}

.progress-bar-red > .progress-bar {
    background-color: #ed5565;
}
.tag-list {
    padding: 0;
}

.tag-list li button {
    font-size: 10px;
    background-color: #f3f3f4;
    color: inherit;
    padding: 2px 7px;
    border-radius: 2px;
    border: 1px solid #e7eaec;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}