.tag-choice-container {
    box-sizing: border-box;
    display: block;
    line-height: 1.42857;
    list-style: outside none none;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: 0;
}

.tag-choice {
    background: #f5f5f5;
    border-radius: 3px;
    color: #555555;
    border: 1px solid #e0e0e0;
    cursor: default;
    float: left;
    margin: 5px 0 0 6px;
    padding: 0 6px;
}

.tag-choice-remove {
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    margin-right: 3px;
    opacity: 0.4;
    text-shadow: 0 1px 0 #fff;
}

.tag-choice-remove:hover {
    opacity: 0.6;
}

.popup-form-container {
    position: absolute;
    z-index: 100;
    background: #fff;
}
.filter-form-popup{
    background: #fff;
    /*border: 1px solid #ccc;*/
    border-radius: 3px;
    padding: 10px;
    /*box-shadow: 2px 2px 4px #a6a6a6;*/
}

.popup-form-container.popup-inline {
    z-index: auto;
}

.popup-form-container.popup-inline .popup-form {
    z-index: auto;
    position: static;
}

.field-outputfilterform-ofodescr_code{
    margin-bottom: -5px;
    margin-left: 0;
}