<template>
    <div class="input-group-sm">
        <label class="control-label">{{ attributeName }}</label>
        <v-select :filterable="false"
                  append-to-body
                  :calculate-position="withPopper"
                  :options="options"
                  :placeholder="placeholder"
                  :disabled="disabled"
                  @search="searchContext"
                  :value="selected"
                  @input="selectChange"
                  :multiple="isMultiple">
            <template slot="no-options">
                {{$t('messages.search')}}
            </template>
            <template slot="option" slot-scope="option">
                <div class="d-center">
                    {{ option.label }}
                </div>
            </template>
            <template slot="selected-option" slot-scope="option">
                <div class="selected d-center">
                    {{ option.label }}
                </div>
            </template>
        </v-select>
        <div class="help-block"></div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import 'vue-select/dist/vue-select.css';
    import AxiosWraper from "../js/AxiosWraper";
    import {createPopper} from "@popperjs/core";

    var _ = require('lodash');

    export default {
        name: 'auto-complete-select',
        components: {
            vSelect
        },
        props: {
            value: [String, Array, Object],
            attributeName: String,
            attribute: String,
            placeholder: String,
            disabled: Boolean,
            urlSearch: {
                type: String,
                required: true
            },
            isMultiple: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                options: [],
                selected: ''
            }
        },
        watch: {
            value: function (newVal, oldVal) {
                if (newVal !== oldVal) {
                    this.selected = newVal;
                }
            }
        },
        methods: {
            selectChange: function (data) {
                this.selected = data;
                if (this.attribute) {
                    let value = {};
                    if (this.isMultiple) {
                        value[this.attribute] = data;
                    } else {
                        value[this.attribute] = data ? data.id : '';
                    }
                    this.$emit('input', value);
                } else {
                    this.$emit('input', this.isMultiple ? data : data.id);
                }
            },
            searchContext(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                AxiosWraper.ajax(vm.urlSearch, {search: search}).then(data => {
                    if (data.response.length) {
                        vm.options = data.response;
                    }
                    loading(false);
                });
            }, 600),
            withPopper(dropdownList, component, {width}) {
                dropdownList.style.width = width;
                const popper = createPopper(component.$refs.toggle, dropdownList, {
                    modifiers: [
                        {
                            name: 'offset', options: {
                                offset: [0, -1]
                            }
                        },
                        {
                            name: 'toggleClass',
                            enabled: true,
                            phase: 'write',
                            fn({state}) {
                                component.$el.classList.toggle('drop-up', state.placement === 'top')
                            },
                        }]
                });
                return () => popper.destroy();
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        search: 'To search, input text',
                    }
                },
                ru: {
                    messages: {
                        search: 'Для поиска, начните вводить текст',
                    }
                }
            }
        }
    }
</script>
