<template>
    <div style="height: 28px">
        <ul class="tag-choice-container">
            <li class="pull-left">{{$t('messages.filters')}}:</li>
            <li class="tag-choice" v-if="item.value !== ''" v-for="(item, $index) in filters" :key="$index">
                <a class="tag-choice-remove" v-on:click="deleteFilterItem($index)">×</a>{{item.name}}: {{item.value}}
            </li>
        </ul>
    </div>
</template>
<script>

    export default {
        props: {
            filters: Object,
        },
        methods: {
            deleteFilterItem(filterTag) {
                this.$emit('deleteFilter', filterTag);
            },
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        filters: 'Filters',
                    }
                },
                ru: {
                    messages: {
                        filters: 'Фильтры',
                    }
                }
            }
        }
    }
</script>