<template>
    <p class="alert alert-info" v-if="noMoreResultsStr">
        {{noMoreResultsStr}}
    </p>
</template>
<script>
    export default {
        name: "infinity-scroll",
        props: {
            offset: Number,
            limitData: Number,
            elementScrollId: String,
            data: Array,
        },
        data: function () {
            return {
                isLoading: false,
                noMoreResultsStr: ''
            }
        },
        methods: {
            handlerInfinityScroll: function () {
                window.addEventListener('scroll', () => {
                    if (document.getElementById(this.elementScrollId) && this.data.length > 0) {
                        if (this.data.length >= this.limitData) {
                            let scrollTop = document.documentElement.scrollTop + window.innerHeight - this.offset,
                                scrollHeight = document.getElementById(this.elementScrollId).scrollHeight;
                            // console.log('scrollHeight', scrollHeight);
                            // console.log('scrollTop', scrollTop);
                            // console.log('innerHeight', window.innerHeight);
                            if (scrollHeight > 0 && scrollTop >= scrollHeight && !this.isLoading) {
                                this.isLoading = true;
                                this.$emit('handlerScroll', this);
                            }
                            this.noMoreResultsStr = '';
                        } else {
                            this.noMoreResults()
                        }
                    }
                });
            },
            completeLoading: function () {
                this.isLoading = false;
                this.noMoreResultsStr = '';
            },
            noMoreResults: function () {
                this.noMoreResultsStr = this.$t('messages.no_results');
            }
        },
        mounted: function () {
            this.handlerInfinityScroll();
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        no_results: 'No more results',
                    }
                },
                ru: {
                    messages: {
                        no_results: 'Больше нет данных',
                    }
                }
            }
        }
    }
</script>