<template>
    <div>
        <div v-on:click="clickLoadFiles">
            <slot name="button"></slot>
        </div>
        <input type="file" class="hidden input-files-default" @change="onFileChange" v-bind:multiple="isMultiple">
    </div>
</template>
<script>
    export default {
        name: 'file-input',
        props: {
            modelName: String,
            isMultiple: Boolean
        },
        data: function () {
            return {
                files: []
            }
        },
        methods: {
            clickLoadFiles: function() {
                $('.input-files-default').click();
            },
            onFileChange(e) {
                this.files = e.target.files || e.dataTransfer.files;
                if (this.files.length) {
                    this.$emit('load', this.files);
                }
            },
        }
    }
</script>