<template>
    <div>
        <button type="button" class="btn btn-sm" v-bind:class="[button.attr_class]"
                data-toggle="modal" v-bind:data-target="[idTarget]" v-html="button.content">
        </button>
        <div class="modal fade" v-bind:id="[id]" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" v-bind:class="[attr_class]">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h2>{{title}}</h2>
                    </div>
                    <div class="modal-body">
                        <slot name="body"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

    export default {
        name: 'modal',
        props: {
            id: String,
            title: String,
            button: Object,
            attr_class: String
        },
        data: function () {
            return {
                idTarget: null
            }
        },
        created() {
            if (this.id === null) {
                this.title = 'Title';
                this.button = {
                    attr_class: 'btn-default',
                    content: 'Button'
                };
                this.id = `f${(+new Date).toString(16)}`;
            }
            this.idTarget = '#' + this.id;
        }
    }
</script>