<template>
    <div class="middle-box text-center animated swing">
        <h1>404</h1>
        <h3 class="font-bold">{{$t('messages.page_not_found')}}.</h3>
        <div class="error-desc">
            <p>{{$t('messages.page_not_found_message')}} <a href="/">{{$t('messages.home_page')}}</a>.</p>
        </div>
    </div>
</template>

<script>
    import CommonMessages from "../messages/common";

    export default {
        name: 'not-found',
        i18n: {
            messages: CommonMessages
        }
    }
</script>