<template>
    <div class="input-group-sm">
        <label class="control-label">{{ attributeName }}</label>
        <v-select :filterable="true" :options="options" append-to-body :calculate-position="withPopper"
                  v-bind:value="selected"
                  :disabled="disabled"
                  v-on:input="selectChange">
            <template slot="no-options">
                {{$t('messages.no_data')}}
            </template>
            <template slot="selected-option" slot-scope="option">
                <div class="selected d-center">
                    {{ option.label }}
                </div>
            </template>
        </v-select>
        <div class="help-block"></div>
    </div>
</template>
<script>
    import vSelect from 'vue-select';
    import {createPopper} from '@popperjs/core';
    import 'vue-select/dist/vue-select.css';

    export default {
        components: {
            vSelect
        },
        props: {
            value: String,
            attributeName: String,
            attribute: String,
            options: Array,
            disabled: Boolean
        },
        data: function () {
            return {
                selected: ''
            }
        },
        watch: {
            value: function (newVal) {
                this.selected = newVal;
                for (let key in this.options) {
                    if (this.options[key] && this.options[key].id === newVal) {
                        this.selected = this.options[key].label;
                    }
                }
            }
        },
        methods: {
            selectChange: function (data) {
                if (this.attribute) {
                    let value = {};
                    value[this.attribute] = data ? data.id : '';
                    this.selected = data ? data.label : '';
                    this.$emit('input', value);
                } else {
                    this.$emit('input', data ? data.id : '');
                }
                if (!data) {
                    this.selected = '';
                }
            },
            withPopper(dropdownList, component, {width}) {
                dropdownList.style.width = width;
                const popper = createPopper(component.$refs.toggle, dropdownList, {
                    modifiers: [
                        {
                            name: 'offset', options: {
                                offset: [0, -1]
                            }
                        },
                        {
                            name: 'toggleClass',
                            enabled: true,
                            phase: 'write',
                            fn({state}) {
                                component.$el.classList.toggle('drop-up', state.placement === 'top')
                            },
                        }]
                });
                return () => popper.destroy();
            }
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        no_data: 'No data for select',
                    }
                },
                ru: {
                    messages: {
                        no_data: 'Нет данных для выбора',
                    }
                }
            }
        }
    }
</script>
<style>
    .v-select.drop-up.vs--open .vs__dropdown-toggle {
        border-radius: 0 0 4px 4px;
        border-top-color: transparent;
        border-bottom-color: rgba(60, 60, 60, 0.26);
    }

    [data-popper-placement='top'] {
        border-radius: 4px 4px 0 0;
        border-top-style: solid;
        border-bottom-style: none;
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.15)
    }
</style>
