<template>
    <div>
        <span class="label" v-bind:class="currentStatus.class">{{currentStatus.label}}</span>
    </div>
</template>
<script>
    import CommonMessages from "../messages/common";

    export default {
        props: {
            status: String,
        },
        data: function () {
            return {
                statuses: {
                    new: {
                        label: this.$t('messages.new'),
                        class: 'label-warning'
                    },
                    applicant_ok: {
                        label: this.$t('messages.applicant_ok'),
                        class: 'label-info'
                    },
                    specialist_ok: {
                        label: this.$t('messages.specialist_ok'),
                        class: 'label-success'
                    },
                    agreed: {
                        label: this.$t('messages.agreed'),
                        class: 'label-primary'
                    },
                    rejected: {
                        label: this.$t('messages.rejected'),
                        class: 'label-danger'
                    },
                    canceled: {
                        label: this.$t('messages.canceled'),
                        class: ''
                    },
                    deleted: {
                        label: this.$t('messages.deleted'),
                        class: 'label-danger'
                    },
                    default: {
                        label: this.status,
                        class: ''
                    },
                }
            }
        },
        computed: {
            currentStatus: function () {
                if (this.statuses[this.status]) {
                    return this.statuses[this.status];
                } else {
                    return this.statuses.default;
                }
            }
        },
        i18n: {
            messages: CommonMessages
        }
    }
</script>