<template>
    <ul class="tag-list" style="padding: 15px 0">
        <li v-for="(tag, $index) in tags" :key="$index">
            <button type="button" class="btn btn-xs" v-on:click="setTag($index)" v-bind:class="{ 'btn-primary': tag }">
                {{$t('messages.' + $index)}}
            </button>
        </li>
    </ul>
</template>

<script>
    import CommonMessages from "../messages/common";

    var _ = require('lodash');

    export default {
        props: {
            tags: Object,
        },
        data: function () {
            return {}
        },
        methods: {
            setTag: function (tag) {
                this.setTagTimeout(tag, this);
            },
            setTagTimeout: _.debounce((tag, vm) => {
                vm.$emit('setFilterTag', tag);
            }, 600)
        },
        i18n: {
            messages: CommonMessages
        }
    }
</script>