<template>
    <div>
        <label class="control-label">{{ attributeName }}</label>
        <textarea type="text" :rows="rows"
                  v-bind:name="attributeName"
                  v-on:input="inputChange($event.target.value)"
                  class="form-control">{{value}}</textarea>
        <div class="help-block" v-bind:class="{'text-danger': isError}">
            {{isError ? errorMessage : ''}}
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            value: String,
            attributeName: String,
            attribute: String,
            required: Boolean,
            rows: Number
        },
        data: function () {
            return {
                isError: false,
                errorMessage: ''
            }
        },
        watch: {
            value: function (newVal) {
                if (this.required && newVal === '') {
                    this.isError = true;
                    this.errorMessage = this.$t('messages.error_empty_field') + ' "' + this.attributeName + '"'
                } else {
                    this.isError = false;
                    this.errorMessage = '';
                }
            }
        },
        methods: {
            inputChange: function (val) {
                this.$emit('input', val);
            },
        },
        i18n: {
            messages: {
                en: {
                    messages: {
                        error_empty_field: 'You must field',
                    }
                },
                ru: {
                    messages: {
                        error_empty_field: 'Вы должны заполнить',
                    }
                }
            }
        }
    }
</script>