<template>
    <div class="input-group-sm">
        <label class="control-label">{{ attributeName }}</label>
        <input type="text"
               v-bind:value="value"
               v-bind:name="attributeName"
               :disabled="disabled"
               v-on:input="inputChange($event.target.value)"
               class="form-control">
        <div class="help-block"></div>
    </div>
</template>
<script>
    var _ = require('lodash');

    export default {
        props: {
            value: String,
            attributeName: String,
            attribute: String,
            disabled: Boolean
        },
        methods: {
            inputChange: function(val){
                this.changeText(this, val)
            },
            changeText: _.debounce((vm, val) => {
                let data = {};
                data[vm.attribute] = val;
                vm.$emit('input', data);
            }, 600)
        }
    }
</script>